*{
	font-family: 'Saira Extra Condensed', sans-serif;
}

.nav-components{
	color: black;
}

#parallax {
	background-color: red; /* For browsers that do not support gradients */
	background-image: linear-gradient(-90deg, #7337d4, #00ffffff) !important; /* Standard syntax (must be last) */
}

#parallax-title{
	text-align: center;
	color: white;
	font-size: 200px;
	margin-top: 80px;
	font-weight: bold;
}
#parallax-subtitle{
	text-align: center;
	color: white;
	margin-top: 70px;
	font-size: 25px;
	font-weight: bold;
}

#parallax-traco{
	font-size: 30px;
	margin-top: -60;
	text-align: center;
	color: white;
}